{% extends 'layout.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">{% endblock %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
<div class="row book">
    <div class="col-3 book-img">
        <img class="img-fluid" src="{{ url_for('static', filename='images/bookcover.png') }}" alt="{{ book.title }} cover">
    </div>
    <div class="col-9 book-info">
        <h2>{{ book.title }}</h2>
        <p>by {{ book.author }}, {{ book.year }}</p>
        <p>ISBN: {{ book.isbn }}</p>
    </div>
</div>
{% if session['user_id'] %}
{% if not has_reviewed %}
<label for="add-review">Add my review</label>
<form class="add-review" id="add-review" action="/books/{{ book.id }}" method="post">
    <div class="form-group">
        <label for="review-rating">Rating for this book</label>
        <select class="form-control" id="review-rating" name="review-rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="review-text">Text</label>
        <textarea required class="form-control mr-sm-2" id="review-text" aria-describedby="Review text" name="review-text" autocomplete="off" rows="6" cols="100" wrap="hard"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>
{% endif %}
{% else %}
<p class="unauthorized-message">To be able to leave a review, log in.</p>
{% endif %}
{% if reviews %}
<div class="row reviews">
    {% for review in reviews %}
    <div class="col-12 review-body">
        <span class="review-item review-author">{{ review.username }}</span>
        <span class="review-item review-rating">{{ review.rating }}</span>
        <pre class="review-item review-text">{{ review.text }}</pre>
    </div>
    {% endfor %}
</div>
    {% else %}
    <div class="col-12 empty">
        <p class="empty-message">There is no reviews for this book yet.</p>
    </div>
</div>
{% endif %}
{% endblock %}
